/* الاتجاه العام للصفحة */
body {
  direction: rtl;
  text-align: right;
}

/* القائمة الجانبية تكون يمين حتى على الشاشات الصغيرة */
.main-sidebar {
  right: 0 !important;
  left: auto !important;
}

/* عناصر المحتوى */
.content-wrapper,
.main-footer,
.main-header {
  margin-right: 0;
  margin-left: 0;
  transition: all 0.3s ease;
}

/* الهوامش والفلوت */
.ml-auto,
.mx-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.nav {
  padding: 0 !important;
}

/* الشاشات المتوسطة والكبيرة */
@media (min-width: 768px) {

  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-right: 250px;
    margin-left: 0px;
  }
}

/* لما تكون القائمة الجانبية مصغرة */
@media (min-width: 992px) {

  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .main-footer,
  .sidebar-mini.sidebar-collapse .main-header {
    margin-right: 4.6rem !important;
    margin-left: 0 !important;
  }
}


@media (max-width: 767.98px) {
  .main-sidebar {
    transform: translateX(100%);
    /* يظهرها من اليمين */
  }

  .sidebar-open .main-sidebar {
    transform: translateX(0);
    /* تظهر القائمة */
  }

  .control-sidebar {
    left: auto !important;
    right: 0 !important;
  }
}

